.env
.venv/
__pycache__/
*.pyc
.pytest_cache/

data/inputs/*
data/references/*
data/intermediates/*
data/manifests/*

results/videos/*
results/images/*
results/audios/*
results/subtitles/*
results/manifests/*